/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.header {
    border: 2px solid gray;
    border-radius: 10px;
    color: white;
    text-align: center;
    min-height: 20;
    .banner {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}

.Menu {
    border: 1px solid gray;
    border-radius: 10px;
    min-height: 5;
}

.Container {
    height: 100%;
}

html,
body {
    height: 97%;
}

body {
    margin: 0, 5;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-container {
    position: relative;
    height: 79vh;
    border: 1px solid gray;
    .side {
        background-color: rgb(194, 70, 70);
    }
}

html,
body {
    height: 100%;
}

#home {
    height: auto;
}

.crearCliente {
    border: 1px solid gray;
    border-radius: 10px;
}